.logo-text {
    font-size: 1.5rem; /* Размер текста логотипа */
    padding-left: 15px; /* Отступ слева для текста логотипа */
  }
  
  .logo-text img {
    height: 40px; /* Высота логотипа */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    margin-right: 10px; /* Отступ справа от логотипа */
  }
  
  html, body {
    height: 100%;
  }
  
  .footer {
    width: 100%;
  }  
  
  /*home test styles*/
  .subject-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .subject-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subject-btn:hover {
    background-color: #0056b3;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #question-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  #answerInput {
    width: 100%;
    padding: 10px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #prevButton,
  #nextButton {
    margin-right: 10px;
  }
  
  #submitButton {
    background-color: #28a745;
  }
  
  #submitButton:hover {
    background-color: #218838;
  }
  
  